.carro{
    display: grid;
    grid-template-columns: 70% 28%;
    min-height: 570px;
    width: 1350px;
    justify-content: space-between;
}

.carro__productos{
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carro__container{
    margin-bottom: 50px;
}

.carro__detalle{
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    height: 574px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carro__total-compra{
    border-top: 2px solid var(--gris);
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    justify-content: end;
}

.descripcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 2px solid var(--gris);
}

.descripcion__imagen{
    width: 210px;
}

.descripcion__nombre{
    width: 320px;
}

.descripcion__contenedor-precio{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 340px;
    justify-items: center;
}

.descripcion__mensaje{
    font-size: 20px;
    margin: 20px;
}

.detalle{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 340px;
    justify-items: center;
    font-size: 26px;
    margin-right: 30px;
    font-weight: bold;
    color: var(--morado);
}

.producto__cantidad-productos{
    align-items: center;
    text-align: center;
    margin: 5px 0;
    border: 3px solid var(--morado);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 120px;
    height: 40px;
}

.restar-producto,.agregar-producto{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--morado);
    height: 35px;
    width: 40px;
}

.restar-producto > i {
    width: 40px;
}

.agregar-producto > i {
    width: 40px;
}


.producto__cantidad{
    font-size: 20px;
}

.producto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.producto__imagen{
    height: 160px;
    width: 210px;
}

.producto__imagen img{
    height: 100%;
    object-fit: contain;
    padding: 0;
    width: 100%;
}

.producto__nombre-producto{
    width: 320px;
}

.producto__contenedor-precio{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 340px;
}

.producto__precio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 160px;
}

.producto__btn-container{
    width: 40px;
    height: 40px;
}

.producto__btn-eliminar-producto{
    background-color: #EC3030;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 38px;
    height: 38px;
    font-size: 22px;
    cursor: pointer;
    transition: 300ms ease;
}

.producto__btn-eliminar-producto:hover{
    background-color: #D62121;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

h3{
    margin: 0;
}

.total{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.carro__logo-metodos{
    margin: auto;
    height: 150px;
    width: 300px;
}

.carro__logo-metodos img{
    height: 100%;
    object-fit: contain;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.carro__envio{
    width: 310px;
    margin-left: 30px;
}

.carro__envio h2{
    color: var(--morado);
}

.detalle__boton-pago{
    display: flex;
    width: 365px;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}


.btn-pago{
    height: 40px;
    width: 330px;
    color: #fff;
    background-color: var(--morado);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease;
}

.btn-pago:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/* .boleta{
    display: flex;
    min-height: 570px;
    width: 1350px;
    justify-content: center;
} */

.boleta{
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    width: 1200px;
    min-height: 600px;
}

.boleta__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.boleta__detalle{
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    height: 574px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.boleta__total-compra{
    border-top: 2px solid var(--gris);
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    justify-content: end;
}

.boleta__datos-cliente{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
}

.boleta__datos-cliente p{
    margin: 0;
}

.boleta__elemento{
    font-weight: bold;
}

.boleta__titulo{
    font-size: 32px;
}

.boleta__productos{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr; 
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--morado);
    color: #fff;
    font-weight: bold;
}
.boleta__items-container{
    min-height: 400px;
}


.boleta__items{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr; 
    width: 100%;
    text-align: center;
}

.boleta__items span{
    padding: 20px 0;
    font-size: 22px;
}

.btn-volver{
    height: 40px;
    width: 330px;
    color: #fff;
    background-color: var(--morado);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease;
    margin-top: 40px;
    text-decoration: none;
}

.btn-volver a {
    text-decoration: none;
    color: #fff;
}

.btn-volver:visited{
    color: #fff;
}

.boleta_nombre-producto{
    width: 640px;
}