
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


:root{
    --color-primario:#10062A;
    --color-secundario: #F8253E;
    --morado: #2F027D;
    --gris: #484848;
    font-family: 'Abel', sans-serif;
}

body{
    background-color: #F8F9FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


img{
    width: 250px;
    aspect-ratio: auto 250 / 250;
    height: 250px;
}


.header{
    display: flex;
    background-color: var(--color-primario);
    height: 100px;
    margin: auto;
    justify-content: center;
    width: 100%;
    
}

.header__contenedor{
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 3fr 1fr;
}

.header__logo{
    width: 230px;
    
}

.header__logo img{
    height: 100%;
    width: 100%;
}

.header__search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    border: 2px solid var(--color-secundario);
    background-color: #fff;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.search__input{
    border: none;
    background-color: none;
    height: 22px;
    width: 90%;
    margin: 0 8px 0 14px;
    outline: 0;
}



.search__boton{
    background-color: #fff;
    border: none;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    border-radius: 22px 22px
}

.search__icon{
    font-size:16px ;
    color: #F8253E;
}

.search__boton:hover{
    background-color: #F3BBBB;
    cursor: pointer;
}


.search__input:focus{
    
}

.header__usuario-carro{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: start;
    
}

.header__carro ,.header__usuario{
    width: 70px;
    height: 45px;
    color: #fff;
    font-size: 26px;
    border: none;
    border-left: 1px solid #fff;
    margin-left: 10px;
    padding-left: 10px;
}

.header__usuario-carro p{
    color: #fff;
}

.nav{
    display: flex;
    background-color: var(--morado);
    justify-content: center;
    padding: 0;
}

.nav__contenedor{
    padding: 0 0;
    width: 1300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__contenedor  ul  li {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    margin: 0 55px;
}

.nav__contenedor  ul {
    padding: 0;
    margin: 0;
    line-height: 10px;
}


.nav__contenedor > ul > li > a {
    text-decoration:none;
    color: #fff;
    transition: ease 250ms;
    border-radius: 6px;
}

.nav__contenedor > ul > li > a:hover{
    color: var(--color-primario);
}


.body{
    margin: 30px auto;
    min-width: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer{
    width: 100%;
    height: 250px;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.footer__contenedor{
    width: 1240px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
    text-align: left;
    justify-items: center;
}

.footer__item{
    margin: 10px 0;
}

.footer__item  span {
    text-decoration:none;
    color: var(--color-secundario);
    transition: ease 300ms;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}


.footer__item  ul {
    list-style: none;
    padding: 0;
}

.footer__item  ul  li {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding: 3px 0;
}


.footer__item > ul > li > a {
    text-decoration:none;
    color: #fff;
    transition: ease 500ms;
    border-radius: 6px;
}

.footer__item > ul > li > a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer__item:nth-child(1){
    text-align: left;
}

.footer__item:nth-child(2){
    text-align: left;
}

.footer__item:nth-child(3){
    text-align: left;
}

.footer__rrss{
    font-size: 40px;

}

.footer__rrss > a{
    text-decoration: none;
    color: var(--color-secundario);
    transition: ease 400ms;
}

.footer__rrss > a:nth-child(1):hover{
    color: #3c5a99;

}

.footer__rrss > a:nth-child(2):hover{
    color: #00acee;

}

.footer__rrss > a:nth-child(3):hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__rrss > a:nth-child(4):hover{
    color: #FF0000;
}

.header_btnMicuenta{
    width: 60px;
    height: 45px;
    background-color: #ff344b;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header_btnMicuenta:hover {
    background-color: #f7697a;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header_btnMicuenta .iconUsuario{
    color: rgb(234, 234, 234);
    font-size: x-large;
}
/*.btnMicuenta p{
    float: right;
    font-size: 13px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif; 
}*/
.header_btnSesion{
    width: 270px;
    background-color: #2F027D;
    font-family: 'Ubuntu', sans-serif; 
    color: #F5F8FF;
    margin-left: 14px;
}
.header_btnSesion:hover{
    background-color: #4200b5; 
    color: #F5F8FF;
}
.header_btn-registrar{
    width: 270px;
    margin: auto;
    margin-left: 14px;
}
.header_btn-registrar:active{
    background-color: #4200b5;
    color: #F5F8FF;
}
.header_menuLogin{
    width: 300px;
    margin-right: 25px;
}

.header_menuLogin label{
    margin-left: 20px;
}
.form_CorreoElec{
    width: 270px;
    margin: auto;
}
.form_Contraseña{
    width: 270px;
    margin: auto;
}

#modalRegistrarse .modal-title{
    color: #2F027D;
    font-size: 35px;
    margin: auto;
    text-align: center;
}
#modalRegistrarse label{
    color: #2F027D;
    font-size: 20px;
}
#modalRegistrarse .btnRegistrar{
    width: 85%;
    color: #fff;
    font-size: 20px;
    margin: auto;
    background-color: var(--morado);
}
#modalRegistrarse .btnRegistrar:hover{
    color: #fff;
    background-color: #4c00ce;
}
#modalRegistrarse .btnRegistrar:active{
    border-color: #4c00ce;
}

.btn__carro{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.btn__carro:hover{
    color: #fff;
    text-decoration: none;
}

.btn__carro button i{
    font-size: 20px;
}