.slider{
    height: 400px;
    width: 1400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    position: relative;
}

.slider__contenedor{
    height: 380px;
    width: 1400px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider__item{
    height: 450px;
}

.slider__item img{
    width: 100%;
    height: 380px;
    object-fit: fill;
    position: relative;
    overflow: hidden;
}

.slider__anterior,
.slider__siguiente{
    display: block;
    border: none;
    border-radius: 24px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    color: #fff;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    top: 42%;
    z-index: 1000;
}

.slider__siguiente{
    right: -60px;
}

.slider__anterior{
    left: -60px;
}

.ofertas{
    display: flex;
    flex-direction: column;
    width: 1300px;
    justify-content: center;
    position: relative;
    z-index: 1;
}

h2{
    align-self: center;
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.slideshow__lista{
    height: 470px;
}

.producto{
    display: flex;
    align-items: center;
    justify-items: center;
}

.producto__contenedor{
    margin: auto;
    height: 460px;
    width: 260px;
    border-radius: 20px;
    background-color: #fff;
    transition: ease 300ms;
    text-decoration: none;
    color: black;
}

.producto__contenedor:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.producto__imagen{
    display: flex;
    height: 260px;
    padding-top: 10px;
    position: relative;
}

.producto__imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.producto__contenedor span{
    display: block;
}

.producto__desc-container{
    padding: 0 10px;
}

.producto__precio-container{
    padding: 0 10px;
}

.producto__marca{
    font-size: 20px;
    font-weight: bold;
}

.producto__titulo{
    font-size: 18px;
    font-weight: 200;
    color: #484848;
    overflow: hidden;
}

.producto__precio-transf{
    font-size: 24px;
    color: var(--color-secundario);
    font-weight: bold;
}

.producto__medio-pago{
    font-size: 16px;
    font-weight: 200;
}

.producto__precio-otros{
    font-size: 24px;
    color: var(--color-primario);
    font-weight: bold;
}

.slideshow__indicadores{
    margin: auto;
}

.slideshow__anterior,
.slideshow__siguiente{
    display: block;
    border: none;
    border-radius: 24px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    color: #fff;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    top: 50%;
    z-index: 1000;
}

.slideshow__siguiente{
    right: -30px;
}

.slideshow__anterior{
    left: -30px;
}

