.detalle{
    background-color: #fff;
    border-radius: 12px;
    width: 1280px;
}

.detalle__contenedor{
    display: grid;
    grid-template-columns: 2fr 2fr;
}


.detalle__img{
    height: 565px;
    width: 745px;
    padding: 10px;
}

.detalle__img img{
    height: 100%;
    object-fit: contain;
    padding: 0;
    width: 100%;
}

.detalle__datos{
    padding: 0 0 0 10px;
}

.detalle__titulo{
    font-size: 30px;
    font-weight: 400;
    width: 510px;
}

.detalle__marca{
    margin: 16px 0;
    font-size: 24px;
    color: var(--gris);
}

.detalle__precio{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin: 10px 0;
    font-size: 20px;
}

.precio-trans{
    color: var(--color-primario);
}

.precio{
    font-size: 24px;
    font-weight: bold;
}

.precio-transf{
    color: var(--color-secundario);
    font-weight: bold;
}

.transferencia{
    color: var(--color-secundario);
}

.detalle__stock{
    color: green;
}

.detalle__separador{
    height: 0;
    width: 500px;
    border-top: 1px solid #aaa;
    margin: 15px 0;
}

.detalle__btn-agregar-carro{
    width: 500px;
    height: 50px;
    background-color: var(--color-secundario);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: ease 250ms;
}

.detalle__btn-agregar-carro:hover{
    filter: saturate(90%);
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.5);
}

.detalle__cantidad-productos{
    align-items: center;
    text-align: center;
    margin: 20px 0;
    border: 3px solid var(--color-primario);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 150px;
    height: 50px;
}

.restar-producto{
    cursor: pointer;
}

.agregar-producto{
    cursor: pointer;
}


.detalle__cantidad{
    font-size: 22px;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.nav-tab__tab.active{
    background-color: var(--color-primario);
}

.nav-tab ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    padding-left: 10px;
}


.nav-tab__tab{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    height: 50px;
    width: 200px;
    background-color: var(--morado);
    margin-left: 20px;
    color: #fff;
    letter-spacing: 1px;
    transition: ease 200ms;
}

.nav-tab__tab:hover{
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.5);
}


.tab-content{
    text-align: justify;
    font-size: 18px;
    padding: 0 30px 10px 30px;
    margin: 0;
}

.descripcion__container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
