@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --color-primario:#10062A;
    --color-secundario: #F8253E;
    --gris: #484848;
    font-family: 'Ubuntu', sans-serif; 
}

body{
    background-color: #F5F8FF;
}

img{
    width: 250px;
    aspect-ratio: auto 250 / 250;
    height: 250px;
}