div{
    /* border: 1px solid green; */
}


.header{
    display: flex;
    background-color: var(--color-primario);
    height: 100px;
    margin: auto;
    justify-content: center;
}

.header__contenedor{
    display: flex;
    width: 1300px;
    justify-content: space-between;
}

.header__logo{
    width: 200px;
    
}

.header__logo img{
    height: 100%;
    width: 100%;
}

.header__search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    border: 2px solid var(--color-secundario);
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

.search__input{
    border: none;
    background-color: none;
    height: 22px;
    width: 90%;
    margin: 0 8px 0 14px;
    outline: 0;
}

.search__boton{
    background-color: #fff;
    border: none;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    border-radius: 22px 22px
}

.search__icon{
    font-size:16px ;
    color: #F8253E;
}

.search__boton:hover{
    background-color: #F3BBBB;
    cursor: pointer;
}


.search__input:focus{
    border-bottom: 1px solid red;
}

.header__usuario-carro{
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: space-between;
    
}

.header__carro ,.header__usuario{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-size: 26px;
    border: none;
    border-left: 1px solid #fff;
    margin-left: 10px;
    padding-left: 10px;
}

.header__usuario-carro p{
    color: #fff;
    font-family: 'Ubuntu', sans-serif; 

}

.nav{
    display: flex;
    background-color: #6A6868;
    justify-content: center;
    padding: 0;
}

.nav__contenedor{
    padding: 0 0;
    width: 1300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__contenedor  ul  li {
    display: inline;
    font-size: 22px;
    font-weight: 800;
    margin: 0 55px;
}

.nav__contenedor  ul {
    padding: 0;
}


.nav__contenedor > ul > li > a {
    text-decoration:none;
    color: #fff;
    transition: ease 500ms;
    border-radius: 6px;
}


.body{
    margin: auto;
    min-width: auto;
    max-width: 1280px;
    display: flex;
}

.slider{
    border: 1px solid red;
    height: 400px;
    width: 1400px;
    margin: auto;
}





















.ofertas{
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin: auto;
    position: relative;
    z-index: 1;
}

h2{
    align-self: center;
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.slideshow__lista{
    height: 510px;   
}

.producto__contenedor{
    margin-left: 10px;
    height: 460px;
    width: 260px;
    border-radius: 20px;
    background-color: #fff;
    transition: ease 300ms;
    cursor: pointer;
}

.producto__contenedor:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.producto__imagen{
    display: flex;
    height: 260px;
    padding-top: 10px;
    position: relative;
}

.producto__imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.producto__contenedor span{
    display: block;
}

.producto__desc-container{
    padding: 0 10px;
}

.producto__precio-container{
    padding: 0 10px;
}

.producto__marca{
    font-size: 20px;
    font-weight: bold;
}

.producto__titulo{
    font-size: 18px;
    font-weight: 200;
    color: #484848;
    overflow: hidden;
}

.producto__precio-transf{
    font-size: 24px;
    color: var(--color-secundario);
    font-weight: bold;
}

.producto__medio-pago{
    font-size: 16px;
    font-weight: 200;
}

.producto__precio-otros{
    font-size: 24px;
    color: var(--color-primario);
    font-weight: bold;
}

.slideshow__indicadores{
    margin: auto;
}

.slideshow__anterior,
.slideshow__siguiente{
    display: block;
    border: none;
    border-radius: 24px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    color: #fff;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    top: calc(50% - 45px);
    z-index: 1000;
}

.slideshow__siguiente{
    right: -10px;
}

.slideshow__anterior{
    left: -40px;
}