div{
    border: 1px solid green;
}


.header{
    display: flex;
    background-color: var(--color-primario);
    height: 100px;
    margin: auto;
    justify-content: center;
}

.header__contenedor{
    display: flex;
    width: 1300px;
    justify-content: space-between;
}

.header__logo{
    width: 200px;
    
}

.header__logo img{
    height: 100%;
    width: 100%;
}

.header__search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    border: 2px solid var(--color-secundario);
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

.search__input{
    border: none;
    background-color: none;
    height: 22px;
    width: 90%;
    margin: 0 8px 0 14px;
    outline: 0;
}

.search__boton{
    background-color: #fff;
    border: none;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    border-radius: 22px 22px
}

.search__icon{
    font-size:16px ;
    color: #F8253E;
}

.search__boton:hover{
    background-color: #F3BBBB;
    cursor: pointer;
}


.search__input:focus{
    border-bottom: 1px solid red;
}

.header__usuario-carro{
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: space-between;
    
}

.header__carro ,.header__usuario{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-size: 26px;
    border: none;
    border-left: 1px solid #fff;
    margin-left: 10px;
    padding-left: 10px;
}

.header__usuario-carro p{
    color: #fff;
    font-family: 'Ubuntu', sans-serif; 

}

.nav{
    display: flex;
    background-color: #6A6868;
    justify-content: center;
    padding: 0;
}

.nav__contenedor{
    padding: 0 0;
    width: 1300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__contenedor  ul  li {
    display: inline;
    font-size: 22px;
    font-weight: 800;
    margin: 0 55px;
}

.nav__contenedor  ul {
    padding: 0;
}


.nav__contenedor > ul > li > a {
    text-decoration:none;
    color: #fff;
    transition: ease 500ms;
    border-radius: 6px;
}

.slider{
    margin: auto;
    height: 400px;
    width: 1400px;
    margin: 40px auto ;
}
